<section class="blog-title text-center">
    <div class="blog-wrapper">
        <div class="container">
            <div class="row">
                <h1 class="headline">Our Blog</h1>
            </div>
            <div class="row">
                <div class="sub-headline">
                    <p>Full of important information</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-content">
    <div class="container">
        <div class="row">
            <main class="blog1col col-md-9">
                <div class="archive">
                    <article class="row">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog1.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">
                                    Use the images in the posts
                                </a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> March 17, 2014</li>
                                <li><i class="fa fa-tag"></i> <a href="#">News</a></li>
                                <li><i class="fa fa-comment"></i> One Comment</li>
                            </ul>

                            <p>
                                Quisque Eget Odio Ac Lectus Vestibulum Faucibus Eget In Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Nullam in dui mauris. Vivamus. Hendrerit arcu sed erat
                                molestie vehicula. Sed auctor…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>


                        </div>
                    </article>


                    <article class="row">
                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog2.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">We’r doctors!</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> November 20, 2013</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Data</a></li>
                                <li><i class="fa fa-comment"></i> 8 Comments</li>
                            </ul>
                            <p>
                                Curabitur Vulputate, Ligula Lacinia Scelerisque Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam in dui mauris. Vivamus. Hendrerit arcu sed erat molestie
                                vehicula. Sed auctor neque…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog3.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Breathe mountain air is good for your health?</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> July 17, 2013</li>
                                <li><i class="fa fa-tag"></i> <a href="#">News</a></li>
                                <li><i class="fa fa-comment"></i> 4 Comments</li>
                            </ul>
                            <p>
                                Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis
                                tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a
                                porttitor lectus condimentum…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog4.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Food and shopping in medical real world and its consequence</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> May 19, 2013</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Lesti</a></li>
                                <li><i class="fa fa-comment"></i> 5 Comments</li>
                            </ul>
                            <p>
                                Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus
                                condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum
                                faucibus eget in metus…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">
                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog5.jpg" class="img-responsive  center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Demo post 11</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> May 17, 2013</li>
                                <li><i class="fa fa-tag"></i> <a href="#">News</a></li>
                                <li><i class="fa fa-comment"></i> No Comments</li>
                            </ul>
                            <p>
                                Header Level 2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
                                tincidunt mauris eu risus. Definition list Consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">
                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog6.jpg" class="img-responsive center-block img-padder"
                                alt="iStock_000008003914XLarge">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">We care about every patient</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> May 7, 2013</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Data</a></li>
                                <li><i class="fa fa-comment"></i> 9 Comments</li>
                            </ul>
                            <p>
                                Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus
                                condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum
                                faucibus eget in metus…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">
                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog7.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Recommended foods for optimal health</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> December 10, 2011</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Data</a></li>
                                <li><i class="fa fa-comment"></i> 4 Comments</li>
                            </ul>
                            <p>
                                Lorem Ipsum Dolor Sit Amet, Consectetur Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie
                                vehicula. Sed auctor neque eu tellus…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog8.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Demo post 1</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> October 20, 2011</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Data</a></li>
                                <li><i class="fa fa-comment"></i> 2 Comments</li>
                            </ul>
                            <p>
                                Header Level 3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
                                tincidunt mauris eu risus. Header Level 2 Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Aliquam tincidunt…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog9.jpg" class="img-responsive center-block img-padder"
                                alt="fisioterapia4">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Demo post 6</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> September 7, 2011</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Data</a></li>
                                <li><i class="fa fa-comment"></i> 4 Comments</li>
                            </ul>

                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                                Donec eu libero sit amet quam…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <article class="row">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog10.jpg" class="img-responsive center-block img-padder"
                                alt="Fotolia_29513120_Subscription_XL">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">Clinical significance versus statistical significance</a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> Marco Nardi</li>
                                <li><i class="fa fa-calendar"></i> August 27, 2011</li>
                                <li><i class="fa fa-tag"></i> <a href="#">Data</a></li>
                                <li><i class="fa fa-comment"></i> 8 Comments</li>
                            </ul>

                            <p>
                                Header Level 3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
                                tincidunt mauris eu risus. Nullam In Dui Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam in dui mauris…
                                <a href="#" class="service-rm-btn btn btn-primary">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>
                        </div>
                    </article>


                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&gt;&gt;</a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end of archive -->
            </main>



        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section>