<section class="blog-title text-center">
    <div class="blog-wrapper">
        <div class="container">
            <div class="row">
                <h1 class="headline">Our Blog</h1>
            </div>
            <div class="row">
                <div class="sub-headline">
                    <p>Full of important information</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-content">
    <div class="container">
        <div class="row">
            <main class="blog1col col-md-9">
                <div class="archive">

                    <article class="row" *ngFor="let blog of blogs.data">

                        <div class="col-md-4 col-sm-4">
                            <img src="assets/img/blog1.jpg" class="img-responsive center-block img-padder"
                                alt="Medical Theme Health and Care">
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <h4>
                                <a href="#">
                                    {{blog.title}}
                                </a>
                            </h4>
                            <ul class="list-inline info">
                                <li><i class="fa fa-user-md"></i> {{blog.writer}}</li>
                                <li><i class="fa fa-calendar"></i> {{blog.updated_at.split('T')[0]}}</li>
                                <li><i class="fa fa-tag"></i> <a href="#">{{blog.category}}</a></li>
                            </ul>

                            <p>
                                Quisque Eget Odio Ac Lectus Vestibulum Faucibus Eget In Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Nullam in dui mauris. Vivamus. Hendrerit arcu sed erat
                                molestie vehicula. Sed auctor…
                                <a href="#" class="service-rm-btn btn btn-light">
                                    Continue reading <i class="fa fa-caret-right"></i></a>
                            </p>


                        </div>
                    </article>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <ul class="pagination" *ngFor="let link of this.blogs.links; index as i">
                                <li (click)="changePage($event)">
                                    <a style="padding:10 10px;"
                                        *ngIf="i>0 && i<this.blogs.links.length -1">{{link.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end of archive -->
            </main>



        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section>