<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>about us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id mauris euismod, dictum nulla ac,
                    vehicula metus. Nulla vel risus ac risus tristique tristique non vel ipsum. </p>
            </div>

            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>123 Main Street<br>Anytown, USA 12345<br>Phone: (123) 456-7890<br>Email: info@example.com</p>
            </div>
        </div>

    </div>
</footer>