<section class="heading-slider">
    <div id="starting-slider" class="owl-carousel owl-theme">

        <div class="item">
            <div class="slider-1">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="slider-inner-text">
                                <h1>We're Professional</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illum
                                    dignissimos tempore ad, eos sint ullam </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-2">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="slider-inner-text">
                                <h1>We're Caring</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illum
                                    dignissimos tempore ad, eos sint ullam </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="slider-3">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="slider-inner-text">
                                <h1>We're Responsible</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illum
                                    dignissimos tempore ad, eos sint ullam </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="starting-text">
    <div class="container">
        <div class="row">
            <div class="welcome">
                <h2 class="welcome-title">Welcome To Our Health Care Clinic</h2>
                <p class="welcome-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. </p>

            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h2 class="headline text-center" id="why">
                    Why Choose Us
                </h2>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="assets/img/service1.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Top Qualified Doctors</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nisi nostrum sunt
                            cum, consequuntur asperiores, impedit voluptate eveniet modi quas omnis.</p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="assets/img/service2.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Online Q & A</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nulla necessitatibus
                            adipisci consequatur explicabo provident officiis fugit. Nihil dolorem officiis.</p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="hservice">
                    <div class="service-img">
                        <img class="img-responsive center-block" src="assets/img/service5.jpg" alt="">
                    </div>
                    <div class="service-description text-center">
                        <h4 class="service-heading">Reminder Calender</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nisi nostrum sunt
                            cum, consequuntur asperiores, impedit voluptate eveniet modi quas omnis.</p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</section>