* {
    outline: none !important;
}


/*============================================Global============================================ */
ul li {
    list-style: none;
    display: inline-block;
}

li a {
    text-decoration: none;
}

.form-control,
.input-group-addon {
    border-radius: 0px;
}

.title {
    padding: 50px 0px;
    margin-top: 65px
}

a {
    color: darkcyan;
}

a:hover {
    text-decoration: none;
}

.btn {
    font-family: 'Raleway', sans-serif;
}

.pagination {
    border-radius: 0px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #46A1B4;
    border-color: #5FA8AB;
}

.pagination>li>a,
.pagination>li>span {

    color: #085A6C;
    background-color: #fff;
    border: 1px solid #ddd;
}

p {
    font-family: 'Dosis', sans-serif;
    word-spacing: 3px;
    font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.send {
    margin-bottom: 20px;
}

.owl-pagination {
    display: none;
}

/* ----------------------------------------Header --------------------------------------------*/
.container-fluid {
    background-color: #46a1b4;
}

#home,
#services,
#doctors,
#blog,
#fqas,
#gallery,
#contact {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 1px 1px 0px #20606D;
}

.navbar-default .navbar-nav>.active {
    /* background-color: rgba(5, 207, 252, 0.62); */
    background-color: rgba(76, 214, 245, 0.62);
    border-top: 4px ridge rgb(5, 207, 252);
}

.section-title {
    background: url(../../assets/img/6177817673_5ba53ffc2a_z.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}

.section-title .headline {
    font-size: 70px;
    word-spacing: 10px;
}

.section-wrapper {
    background-color: rgba(45, 53, 56, 0.78);
    padding: 78px 0px;
    margin-top: 65px;
}


.section-header {
    font-size: 2em;
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
}

/* --------------------------------------  navs  ----------------------------------------------- */

.logo {
    font-family: 'Dosis', sans-serif;
}

.nav.navbar-nav {
    /* padding: 0px 20px; */
}

.navbar-default {
    /*background-color: #267D90;*/
    background-color: #46a1b4;
}

.navbar-default .navbar-header .logo {
    font-size: 32px;
    color: #fff;
}

.navbar-nav li {
    /* border-right: 1px solid #54aec2; */
    padding: 7px 0px;
}

.navbar-default .navbar-nav li a {
    text-shadow: 1px 1px 0px #20606D;
    color: #fff;
}

.navbar-default .navbar-nav>.active {
    /*background-color: rgba(5, 207, 252, 0.62);*/
    background-color: rgba(76, 214, 245, 0.62);
    border-top: 4px ridge rgb(5, 207, 252);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

li:last-child {
    border-right: transparent;
}

.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li:focus {
    background-color: #377F8F;
    color: white;
    border-bottom: 4px ridge rgb(5, 207, 252);
}

.navbar-fixed-top .navbar-collapse {
    /* max-height: 415px; */
}

.container-fluid {
    margin-left: 20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active:hover {
    background-color: rgba(5, 207, 252, 0.62);
    border-bottom: none;
}


/* -------------------------------------- 1.1 heading-slider---------------------------------------- */
.slider-inner {
    /*background-color: rgba(21, 7, 7, 0.55);*/
    background-color: rgba(51, 71, 90, 0.32);
    width: 100%;
    color: white;
    height: 700px;
}

.slider-inner-text {
    margin: 262px 0px;
    width: 50%
}

.slider-1 {
    background: url(../../assets/img/slider1.jpg);
    width: 100%;
    background-size: cover;
    vertical-align: middle;
    background-position-x: 75%;
    background-position-y: 5%;
}

.slider-2 {
    background: url(../../assets/img/slider2.jpg);
    width: 100%;
    background-size: cover;
    background-position-x: 65%;
    background-position-y: 5%;
}

.slider-3 {
    background: url(../../assets/img/slider3.jpg);
    width: 100%;
    background-size: cover;
    background-position-x: 75%;
    background-position-y: 5%;
}

.slider-inner h1 {
    margin-bottom: 35px;
    font-size: 70px;
}

.slider-inner-text p {
    font-size: 23px;
}

/* ========================================= 4. FAQs============================================= */
.faq-title {
    background: url(../../assets/img/6177817673_5ba53ffc2a_z.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}

.faq-title .headline {
    font-size: 70px;
    word-spacing: 10px;
}

.faq-wrapper {
    background-color: rgba(45, 53, 56, 0.62);
    padding: 78px 0px;
    margin-top: 65px;
}


.faq-header {
    font-size: 2em;
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}


.faq-content {
    margin-top: 80px;
}


.faq-c {
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
}

.faq-t {
    line-height: 1.5em;
    color: #aaa;
    font-family: sans-serif;
    float: left;
    font-weight: 700;
    padding-right: 0.62em;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}

.faq-o {
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    margin-top: -5px;
}

.faq-q {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.25em;
    background: rgba(249, 249, 249, 0.5);
    font-weight: 100;
    padding: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.faq-q:hover {
    box-shadow: 0 1px 5px 0 #626262;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.faq-a {
    clear: both;
    color: #666;
    padding: 1.5em;
}

.logout-btn {
    background-color: transparent;
    /* set the background color */
    color: #fff;
    /* set the text color */
    border: none;
    /* remove the border */
    padding: 10px 20px;
    /* set the padding */
    font-size: 15px;
    /* set the font size */
    cursor: pointer;
    /* change the cursor to a pointer on hover */
    margin: 4px;
    margin-right: 6px;
}

/* add styles for hover state */
.logout-btn:hover {
    background-color: #10192e;
    /* change the background color */
}

/* =========================================Media Query========================================= */

@media (min-width: 1200px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        /* padding: 10px 0px; */
        overflow: visible !important;
    }
}

@media (min-width: 1200px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .slider-inner-text {
        margin: 162px 0px;
    }
}

@media (max-width: 767px) {
    .slider-inner-text {
        margin: 162px 58px;
        width: 62%;
    }
}

@media (max-width: 505px) {
    section.content main .info li:not(:last-child) {
        margin: 0 27px 10px 0;
    }

    section.content main .info li {
        border: 0 !important;
        display: inline;
        margin: 0;
        padding: 0px;
    }

    .slider-inner h1 {
        font-size: 50px;
    }

    .slider-inner-text {
        margin: 162px 13px;
    }

    .slider-inner-text p {
        font-size: 19px;
    }

    .welcome {
        padding: 48px 20px;
    }
}

@media(max-width: 319px) {
    .heading-slider {
        display: none;
    }
}

footer {
    background-color: #f2f2f2;
    padding: 30px 0;
    font-size: 16px;
}

footer h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

footer p {
    color: #777;
    line-height: 1.5;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #777;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #333;
}

footer .text-center {
    text-align: center;
    margin-top: 30px;
    color: #777;
}