<section class="faq-title text-center">
    <div class="faq-wrapper">
        <div class="container">
            <div class="row">
                <h1 class="headline">Frequently Asked Questions</h1>
            </div>

        </div>
    </div>
</section>

<section class="faq-content">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="faq-header">Things you need to know...</div>

                <div class="faq-c" *ngFor="let faq of faqs.data">
                    <div class="faq-q" (click)="toggleFaq($event)"><span class="faq-t">+</span>{{faq.question}}?</div>
                    <div class="faq-a" style="display:none">
                        <p>{{faq.answer}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <ul class="pagination" *ngFor="let link of this.faqs.links; index as i">
                            <li (click)="changePage($event)">
                                <a style="padding:10 10px;"
                                    *ngIf="i>0 && i<this.faqs.links.length -1">{{link.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>


        </div>
    </div>
</section>